@import url(reset.css);

:root {
  --app-bg: #f2f3f4;
  --app-bg-blue: #3487f3;
  --app-bg-orange: #d47215;
  --app-bg-purple: #6a1fc0;
  --app-bg-dark: #1c1c1c;
  --app-header-bg: #282a31;
  --app-bg-green: #4dcc3c;
  --app-blue-hover: #4896fc;
  --app-red: #ff3c57;
  --app-red-hover: #ff2846;
  --app-text: #e0d9d9;
  --app-border: #2c2c2c;
}

body {
  background-color: var(--app-bg-dark);
  overflow-x: hidden;
  height: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  width: min(100% - 30px, 1280px);
  margin-inline: auto;
  height: 100vh;
  display: flex;
}

.flex {
  display: flex;
}

.hide {
  display: none;
}

/* - - - - - - - - - - - - - - - - - - - - - - - */
/* Header                                        */
/* - - - - - - - - - - - - - - - - - - - - - - - */

header {
  background-color: var(--app-header-bg);
  height: 50px;
  line-height: 50px;
  color: var(--app-text);
}

header .flex {
  justify-content: space-between;
}

.header-title {
  height: 50px;
}

header .header-title h1 {
  color: #3487f3;
  font-size: 28px;
  font-weight: 600;
}

header .profile {
  height: 50px;
}

header .profile img {
  border-radius: 100%;
  height: 35px;
  width: 35px;
  cursor: pointer;
  margin: 8px 0px;
}

.header-nav {
  font-size: 0px;
  height: 50px;
}

header .header-nav nav li {
  display: inline;
  font-size: 18px;
  cursor: pointer;
  transition: all 0.33s ease-in-out;
}

header .header-nav nav li:hover {
  color: #5c9df3;
}

header .header-nav nav li + li {
  margin-left: 18px;
}

header .dropdown {
  display: none;
  font-size: 1.75rem;
}

header .dropdown:hover {
  cursor: pointer;
}

header .active {
  height: auto;
  width: 25%;
  max-width: 300px;
  min-width: 175px;
  position: absolute;
  right: 15px;
  top: 57px;
  display: grid;
  grid-template-columns: repeat(1fr);
  grid-template-rows: repeat(1fr);
  color: var(--app-text);
  background-color: #363840;
}

header .active ul li {
  gap: 15px;
  padding: 0;
  text-align: center;
  display: grid;
  flex-direction: row;
  grid-template-rows: 1fr;
}

header .active ul li p:hover {
  transition: all 0.33s ease-in-out;
  cursor: pointer;
  background-color: #66676e;
}

header .active ul li:first-child {
  margin-top: 20px;
}

header .active ul li + li {
  margin: 0;
}

/* - - - - - - - - - - - - - - - - - - - - - - - */
/* End of header                                 */
/* - - - - - - - - - - - - - - - - - - - - - - - */

/* - - - - - - - - - - - - - - - - - - - - - - - */
/* Post area                                     */
/* - - - - - - - - - - - - - - - - - - - - - - - */

.grid {
  display: grid;
  place-items: center;
  align-items: flex-start;
  grid-template-columns: 1fr 3fr 1fr;
  flex-wrap: wrap-reverse;
}

.content {
  display: grid;
  flex-direction: row;
  grid-template-columns: 1fr;
  place-items: center;
  align-items: flex-start;
  height: auto;
  gap: 15px;
}

.postBtn {
  justify-content: space-between;
}

.postArea {
  padding: 20px;
  margin: 20px 0;
  height: auto;
  width: 75%;
  min-width: 250px;
  line-height: 50px;
  background-color: var(--app-header-bg);
  justify-content: space-between;
  border-radius: 6px;
}

.postArea #post {
  background-color: transparent;
  height: 155px;
  width: 23vw;
  min-width: 300px;
  resize: none;
  color: var(--app-text);
}

#imgUpload {
  display: none;
}

.inputImg label {
  color: var(--app-text);
  cursor: pointer;
  padding: 8px;
  font-size: 24px;
  transition: 0.33s all ease-in-out;
}

.inputImg label:hover {
  color: var(--app-blue-hover);
}

.fileName {
  display: inline;
  color: var(--app-text);
}

.postArea button {
  width: 75px;
  height: 33px;
  border-radius: 6px;
  color: #fff;
  background-color: #3487f3;
  font-weight: 600;
  transition: 0.33s all ease-in-out;
}

.postArea button:hover {
  background-color: var(--app-blue-hover);
  cursor: pointer;
}

.postBox {
  height: auto;
  min-height: 100px;
  background-color: #f2f3f4;
  color: #000;
  width: 75%;
  min-width: 275px;
  border-radius: 6px;

}

.postBox:first-child {
  margin-top: 20px;
}

.postBox:last-child {
  margin-bottom: 400px;
}

.postBox p {
  padding: 5px 15px 15px 15px;
  border-radius: 6px;
}

.postBox img {
  border-radius: 6px;
}

.postInfo {
  justify-content: space-between;
}

.postInfo p {
  padding: 15px;
}

.postInfo img {
  border-radius: 100% !important;
  height: 30px;
  width: 30px;
  margin-right: 10px;
}

.postInfo img:hover {
  cursor: pointer;
}

.infoMsg {
  padding: 5px;
}

/* - - - - - - - - - - - - - - - - - - - - - - - */
/* End of post area                              */
/* - - - - - - - - - - - - - - - - - - - - - - - */

/* - - - - - - - - - - - - - - - - - - - - - - - */
/* User information                              */
/* - - - - - - - - - - - - - - - - - - - - - - - */

.contentBox {
  padding: 20px;
  width: 100%;
  place-items: right;
  color: var(--app-text);
}

.leftBox {
  place-items: left;
}

.userBox,
.userSuggest {
  padding: 20px;
  min-width: 250px;
  width: 100%;
  height: auto;
  border-radius: 5px;
  background-color: var(--app-header-bg);
  text-align: center;
}

.userImg {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 30px;
}

.userImg img {
  border-radius: 100%;
  height: 100px;
  width: 100px;
}

.userImg img:hover {
  cursor: pointer;
}

.button {
  width: 100px;
  height: 33px;
  border-radius: 15px;
  color: #fff;
  background-color: #3487f3;
  font-weight: 600;
  transition: 0.33s all ease-in-out;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  align-items: center;
  margin-top: 10px;
}

.button:hover {
  background-color: var(--app-blue-hover);
  cursor: pointer;
}

.follow {
  margin-top: 10px;
}

.connect {
  color: var(--app-bg-blue);
  background-color: #fff;
  margin-bottom: 5px;
}

.connect:hover {
  background-color: #eae7e7;
}

.userStats {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

.userLinks {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 5px;
  color: var(--app-text);
  margin-top: 10px;
  font-size: 1rem;
  text-align: left;
}

.userLinks .fa-solid {
  font-size: 1.5rem;
  padding: 7px;
}

.userLinks a {
  text-decoration: none;
  color: var(--app-text);
}

.userLinks a:hover {
  color: var(--app-blue-hover);
  transition: 0.33s all ease-in-out;
}

.userSuggest {
  display: flex;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  font-size: 0.5rem;
  padding: 2px;
  margin: 3px;
}

.userSuggest .userImg {
  height: 50px;
  width: 50px;
  margin: 5px;
  padding: 0;
  cursor: pointer;
}

.userSuggest p,
.userSuggest h3 {
  padding: 5px;
  width: 200px;
}

.userSuggest h3 {
  font-size: 1rem;
  cursor: pointer;
  transition: 0.33s all ease-in-out;
}

.userSuggest h3:hover {
  color: var(--app-blue-hover);
}

.userSuggest img {
  height: 50px;
  width: 50px;
  margin: 0;
  padding: 0;
}

.suggestInfo {
  text-align: center;
  justify-content: center;
  align-content: center;
}

/* - - - - - - - - - - - - - - - - - - - - - - - */
/* End of user information                       */
/* - - - - - - - - - - - - - - - - - - - - - - - */



/* - - - - - - - - - - - - - - - - - - - - - - - */
/* Footer                                        */
/* - - - - - - - - - - - - - - - - - - - - - - - */

footer {
  background: #111;
  height: auto;
  width: 100%;
  padding-top: 10px;
  color: #fff;
  position: fixed;
  bottom: 0;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.footer-content h3 {
  font-size: 28px;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 32px;
}

.footer-content p {
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
}

.footer-socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 16px 0 20px 0;
}

.footer-socials li {
  margin: 0 10px;
}

.footer-socials a {
  text-decoration: none;
  color: #fff;
}

.footer-socials a i {
  font-size: 18px;
  transition: color 0.4s ease;
}

.footer-socials a:hover i {
  color: var(--app-blue-hover);
}

.footer-bottom {
  background: #000;
  width: 100%;
  padding: 10px 0;
  text-align: center;
}

.footer-bottom p {
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}

.footer-bottom span {
  text-transform: uppercase;
  color: var(--app-bg-blue);
  font-weight: 200;
}

@media screen and (max-width: 968px) {
  .grid {
    grid-template-columns: 1fr;
  }
  .leftBox {
    margin-top: 15px;
  }

  .userLinks {
    flex-direction: row;
  }

  .content {
    grid-template-columns: 1fr;
    grid-row: 3;
    width: 100svw;
  }
  .userSuggest,
  .userBox,
  .contentBox {
    width: calc(100vw - 30px);
    margin-left: -22.5px;
  }
  .postBox {
    width: calc(100vw - 30px);
    margin-left: -22.5px;
  }

  .postArea {
    width: calc(100vw - 30px);
    margin-left: -27.5px;
  }
  .postBox p {
    border-radius: 6px;
  }
  .postBox img {
    border-radius: 6px;
  }

  .postBox:last-child {
    margin-bottom: 10px;
  }

  .rightBox {
    margin-bottom: 125px;
  }

  header {
    display: grid;
    flex-direction: column;
    grid-template-columns: 1fr;
  }

  header .profile {
    display: none;
  }

  header .header-nav {
    display: none;
  }

  header .header-nav .active {
    display: none;
  }

  header .dropdown {
    display: block;
  }

}

@media screen and (min-width: 969px) {
  header .active {
    display: none;
  }
}

.overlay {
  position: fixed;
  inset: 0 0 0 0;
  min-width: 100%;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  display: grid;
  place-items: center;
  background-color: var(--app-bg-dark);
  z-index: 9999;
}

.overlay .loading {
  width: 50px;
  height: 50px;
  border: 4px solid var(--app-bg-blue);
  border-top: 4px solid transparent;
  border-radius: 50%;
  animation: rotate 1.25s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
